.header {
    justify-content: center;
    background-color: #1d1d1d;
    height: 10%;
}

.header span h1 {
    color: #fff;
    padding-left: 1.2rem;
    font-size: 1.5rem;
}

.header span {
    display: flex;
    align-items: center;
}

.header span img {
    height: 3rem;
}

